<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout_padrao}">
		
<head>
	<title>Gerenciamento de Produtos</title>
</head>

	<section layout:fragment="conteudo"> 
		<h1>Gerenciamento de Produtos</h1>
		<a href="new">Novo produto</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID Produto </th>
					<th class="text-center">Nome</th>
					<th class="text-center">Marca</th>
					<th class="text-center">Fabricação</th>
					<th class="text-center">Preço</th>
					<th class="text-center">Actions</th>
				</tr>				
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td class="align-middle" th:text="${product.id}">ID Produto</td>
					<td class="align-middle text-center" th:text="${product.name}">Nome</td>
					<td class="align-middle text-center" th:text="${product.brand}">Marca</td>
					<td class="align-middle text-center" th:text="${product.madein}">Fabricação</td>
					<td class="align-middle text-center" th:text="|R$ ${{product.price}}|">Preço</td>
					<td class="align-center">
						<a class="btn btn-outline-primary align-middle align-center" role="button" th:href="@{/edit/{id}(id=${product.id})}"><i class="bi bi-pencil-square"></i> Editar</a>
						<a class="btn btn-outline-danger align-middle align-center" role="button" th:href="@{/delete/{id}(id=${product.id})}"><i class="bi bi-trash"></i> Deletar</a>
					</td>
 				</tr>
			</tbody>
		</table>
	</section>		
</html>