<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		
<head>
	<meta charset="UTF-8"/>
	<title>Product Manager</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" /> 
	<link rel="stylesheet" href="/css/bootstrap.css" /> 
	<link rel="stylesheet" href="/css/style.css" /> 
</head>

	<div class="container">
		<section layout:fragment="conteudo">
		</section><!-- Section que vai receber o conteudo das outras páginas -->
	</div>

</html>